<div class="container">
    <h2>แก้ไขข้อมูลผู้ใช้</h2>
        <ng-container *ngFor="let userId of user">
        <div class="form-group">
            <label for="title">คำนำหน้า</label>
            <select id="prefix" #prefix >
              <option value="{{userId.prefix}}" disabled selected>{{userId.prefix}}</option>
              <option value="นาย">นาย</option>
              <option value="นางสาว">นางสาว</option>
              <option value="นาง">นาง</option>
            </select>
          </div>
        <div class="form-group">
            <label for="fname">ชื่อ</label >
            <input type="text" id="fname" value="{{userId.fname}}" #fname>
        </div>
        <div class="form-group">
            <label for="lname">นามสกุล</label>
            <input type="text" id="lname" value="{{userId.lname}}" #lname>
        </div>
        <div class="form-group">
            <label for="email">อีเมล</label>
            <input type="email" id="email" value="{{userId.email}}" #email>
        </div>
        <div class="form-group">
            <label for="phone">เบอร์โทร</label>
            <input type="text" id="phone" value="{{userId.phone}}" #phone>
        </div>
        <button (click)="UpDateUser(prefix.value,fname.value,lname.value,phone.value,email.value)" class="btn">บันทึกการแก้ไข</button>
        </ng-container> 

    <div class="change-password">
        <h3 routerLink="/Editpassword" >แก้ไขรหัสผ่าน</h3>
        <!-- Place password change form or link here -->
    </div>
</div>