<p>zone-c works!</p>
<div class="container">
    <h1>บูธต่างๆ</h1>
    <main>
        <section class="zone-list">
            <div class="zone-card">
                <a href="booking.php?zone=1" class="zone-link">
                    <img src="../../assets/changing-room.png" alt="Zone A Image" class="zone-image">
                    <div class="zone-info">
                        <h3>บูธ 1</h3>
                        <p>ชื่อบูธ: <span class="zone-detail">1</span></p>
                        <p>ขนาดบูธ: <span class="zone-detail">10x10</span></p>
                        <p>สถานะบูธ: <span class="zone-detail">ว่าง</span></p>
                        <p>ราคา: <span class="zone-detail">200 บาท</span></p>
                    </div>
                    <div class="checkbox-wrapper-31">
                        <input type="checkbox"/>
                        <svg viewBox="0 0 35.6 35.6">
                          <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                          <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                          <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                        </svg>
                      </div>
                </a>
            </div>
            <div class="zone-card">
                <a href="booking.php?zone=1" class="zone-link">
                    <img src="../../assets/changing-room.png" alt="Zone A Image" class="zone-image">
                    <div class="zone-info">
                        <h3>บูธ 2</h3>
                        <p>ชื่อบูธ: <span class="zone-detail">2</span></p>
                        <p>ขนาดบูธ: <span class="zone-detail">10x10</span></p>
                        <p>สถานะบูธ: <span class="zone-detail">ว่าง</span></p>
                        <p>ราคา: <span class="zone-detail">200 บาท</span></p>
                    </div>
                    <div class="checkbox-wrapper-31">
                        <input type="checkbox"/>
                        <svg viewBox="0 0 35.6 35.6">
                          <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                          <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                          <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                        </svg>
                      </div>
                </a>
            </div>
            <div class="zone-card">
                <a href="booking.php?zone=1" class="zone-link">
                    <img src="../../assets/changing-room.png" alt="Zone A Image" class="zone-image">
                    <div class="zone-info">
                        <h3>บูธ 3</h3>
                        <p>ชื่อบูธ: <span class="zone-detail">3</span></p>
                        <p>ขนาดบูธ: <span class="zone-detail">10x10</span></p>
                        <p>สถานะบูธ: <span class="zone-detail">ว่าง</span></p>
                        <p>ราคา: <span class="zone-detail">200 บาท</span></p>
                    </div>
                    <div class="checkbox-wrapper-31">
                        <input type="checkbox"/>
                        <svg viewBox="0 0 35.6 35.6">
                          <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                          <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                          <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                        </svg>
                      </div>
                </a>
            </div>
        </section>
    </main>
</div>
