<body>
    <div class="password-reset-container">
      <h2>เปลี่ยนรหัสผ่าน</h2>
      <div class="password-reset-form">

    <ng-container *ngIf="fname">
        <div class="form-group">
            <input type="hidden"  placeholder="id" value="{{user_id}}" required #userID>
          </div>
    </ng-container>

        <div class="form-group">
          <label for="current-password"><i class="fa fa-lock">รหัสผ่านปัจจุบัน</i> </label>
          <input type="password" id="current-password" placeholder="กรอกรหัสผ่านปัจจุบัน" required #current_password>
        </div>
        <div class="form-group">
          <label for="new-password"><i class="fa fa-lock">รหัสผ่านใหม่</i> </label>
          <input type="password" id="new-password" placeholder="กรอกรหัสผ่านใหม่" required #new_password>
        </div>
        <div class="form-group">
          <label for="confirm-password"><i class="fa fa-lock">ยืนยันรหัสผ่าน</i> </label>
          <input type="password" id="confirm-password" placeholder="ยืนยันรหัสผ่าน" required #confirm_password>
        </div>
        <button 
          type="submit" 
          class="submit-btn" 
          (click)="updatePass(current_password.value, new_password.value, confirm_password.value)" 
          [disabled]="new_password.value !== confirm_password.value">
          บันทึก
        </button>
        <h4 routerLink="/EditProfile" class="cancle">ยกเลิก</h4>
      </div>
    </div>
  </body>
  