/* ตั้งค่าพื้นฐาน */
body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top: 20px;
}

/* กล่องฟอร์มเปลี่ยนรหัสผ่าน */
.password-reset-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.password-reset-container h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #007c79;
}

/* ฟอร์มและฟิลด์กรอกข้อมูล */
.password-reset-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.password-reset-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

.password-reset-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.password-reset-form input:focus {
    border-color: #009c98;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 156, 152, 0.2);
}

/* ปุ่มบันทึกการแก้ไข */
.submit-btn {
    background-color: #009c98;
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #007c79;
}

/* ปรับแต่งไอคอน */
.password-reset-form label i {
    margin-right: 10px;
    color: #009c98;
}

.cancle {
    margin-bottom: 15px;
    font-size: 18px;
    color: #009c98;
    font-weight: bold;

}
