<div class="navbar">
    <a routerLink="/dashboard">ภาพรวม</a>
    <a routerLink="/work">การจัดงาน</a>
    <a routerLink="/zonemanage">จัดการโซน</a>
    <a routerLink="/boothmanage">จัดการบูธ</a>
    <a routerLink="/membermanage">จัดการสมาชิก</a>
    <a routerLink="/bookingreport">รายงานผลการจอง</a>
    <a routerLink="/approval">อนุมัติการจอง</a>
    <a routerLink="/">ออกจากระบบ</a>
</div>

<div class="content">
    <div class="table-container">
        <h2>จัดการบูธ</h2>
        <table>
            <thead>
                <tr>
                    <th>รหัสบูธ</th>
                    <th>ชื่อบูธ</th>
                    <th>ขนาด</th>
                    <th>สินค้า</th>
                    <th>สถานะ</th>
                    <th>ราคา</th>
                    <th>โซน</th>
                    <th>แก้ไข/ลบ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Booth of booths">
                    <td>{{ Booth.boothID }}</td>
                    <td>{{ Booth.boothName }}</td>
                    <td>{{ Booth.boothSize }}</td>
                    <td>{{ Booth.products_sold }}</td>
                    <td>{{ Booth.boothStatus }}</td>
                    <td>{{ Booth.boothPrice }}</td>
                    <td>{{ Booth.zoneID }}</td>
                    <td>
                        <button class="edit-btn" (click)="editBooth(Booth)">แก้ไข</button>
                        <button class="delete-btn" (click)="deleteBooth(Booth.boothID)">ลบ</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-container">
        <h3>{{ eBooth.boothID ? 'แก้ไขบูธ' : 'เพิ่มบูธใหม่' }}</h3>
        <form (ngSubmit)="addOrUpdateBooth()">

            <input type="hidden" id="boothID" [(ngModel)]="eBooth.boothID" name="boothID" required [disabled]="true">
    
            <label for="zoneID">รหัสโซน:</label>
            <input type="text" id="zoneID" [(ngModel)]="eBooth.zoneID" name="zoneID" required>
    
            <label for="boothName">ชื่อบูธ:</label>
            <input type="text" id="boothName" [(ngModel)]="eBooth.boothName" name="boothName" required>
    
            <label for="boothSize">ขนาด:</label>
            <input type="text" id="boothSize" [(ngModel)]="eBooth.boothSize" name="boothSize" required>
    
            <label for="products_sold">สินค้า:</label>
            <input type="text" id="products_sold" [(ngModel)]="eBooth.products_sold" name="products_sold" required>
    
            <label for="boothStatus">สถานะ:</label>
            <input type="text" id="boothStatus" [(ngModel)]="eBooth.boothStatus" name="boothStatus" required>
    
            <label for="boothPrice">ราคา:</label>
            <input type="text" id="boothPrice" [(ngModel)]="eBooth.boothPrice" name="boothPrice" required>
    
            <button type="submit" [disabled]="loading">{{ eBooth.boothID ? 'อัปเดตบูธ' : 'เพิ่มบูธ' }}</button>
            <button type="button" (click)="resetBoothForm()">รีเซ็ต</button>
        </form>
    </div>
    

    <div *ngIf="loading">กำลังโหลด...</div>
</div>
