<!-- <div class="container">
    <div class="content-wrapper">
        <h2 class="wordbooth">จัดการบูธ</h2>
        <table class="booth-table">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>รูปภาพ</th>
                    <th>บูธหมายเลข</th>
                    <th>ราคา</th>
                    <th>ขนาด</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let booth of selectedBooths; let i = index">
                    <tr>
                        <td data-label="ลำดับ">{{ i + 1 }}</td>
                        <td data-label="รูปภาพ"><img src="../../assets/plant.png" alt="Booth Image" class="booth-image" /></td>
                        <td data-label="บูธหมายเลข">{{ booth.boothID }}</td>
                        <td data-label="ราคา">{{ booth.boothPrice }} บาท</td>
                        <td data-label="ขนาด">{{ booth.boothSize }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="payment-section">
        <h3>ชื่อ: {{prefix}}{{ fname }} {{ lname }}</h3>
        <p>กรุณาชำระเงิน</p>
        <div class="qr-container">
            <img src="../../assets/qrcode.png" alt="QR Code" />
        </div>
        <button class="upload-btn" [disabled]="!payment_slip">บันทึกสลิปการโอน</button>
        <p class="payment-info">
            สแกน QR code เพื่อชำระเงิน<br />
            <strong>มหาวิทยาลัยเกษตรศาสตร์ สกลนคร</strong>
        </p>
        <p class="total-amount">ราคารวมทั้งหมด: <strong>{{ coutPrice() }} บาท</strong></p>
        <div class="upload-slip">
            <label for="file-upload" class="custom-file-upload">เลือกไฟล์</label>
            <input id="file-upload" type="file" (change)="onFileSelected($event)" />
        </div>
        <div class="input-about">
            <ng-container *ngFor="let booth of selectedBooths; let i = index">
                <label for="about">สิ่งที่จะขายในบูธ: {{ booth.boothName }}</label>
                <input type="text" id="name_by_{{ i }}" [(ngModel)]="boothItems[i]" placeholder="กรอกสิ่งที่จะขาย">
            </ng-container>
        </div>
        <button class="confirm-btn" (click)="reserveBooth()">ทำการจอง</button>
        <button class="cancel-btn" routerLink="/">ยกเลิกการจอง</button>
    </div>
</div> -->

<div class="container">
    <div class="content-wrapper">
      <h2 class="wordbooth">จัดการบูธ</h2>
      <table class="booth-table">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>รูปภาพ</th>
            <th>บูธหมายเลข</th>
            <th>ราคา</th>
            <th>ขนาด</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let booth of selectedBooths">
            <tr>
              <td data-label="ลำดับ">{{ cout() }}</td>
              <td data-label="รูปภาพ">
                <img
                  src="../../assets/plant.png"
                  alt="Booth Image"
                  class="booth-image"
                />
              </td>
              <td data-label="บูธหมายเลข">{{ booth.boothID }}</td>
              <td data-label="ราคา">{{ booth.boothPrice }} บาท</td>
              <td data-label="ขนาด">{{ booth.boothSize }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  
    <div class="payment-section">
      <h3>
        ผู้จอง: <strong> {{ fname }} {{ lname }}</strong>
      </h3>
      <p>กรุณาชำระเงิน <strong></strong></p>
      <div class="qr-container">
        <img src="../../assets/qrcode.png" alt="QR Code" />
      </div>
      <p class="payment-info">
        สแกน QR code เพื่อชำระเงินเข้าบัญชี<br />
        <strong>มหาวิทยาลัยเกษตรศาสตร์ สกลนคร</strong>
      </p>
      <p class="total-amount">
        ราคารวมทั้งหมด: <strong>{{ coutPrice() }} บาท</strong>
      </p>
      <div class="upload-slip">
        <label for="file-upload" class="custom-file-upload">เลือกไฟล์</label>
        <input id="file-upload" type="file" (change)="onFileSelected($event)" />
      </div>
      <div class="input-about">
        <ng-container *ngFor="let booth of selectedBooths; let i = index">
          <label for="about">สิ่งที่จะขายในบูธ: {{ booth.boothName }}</label>
          <input
            type="text"
            id="name_by_{{ i }}"
            [(ngModel)]="boothItems[i]"
            placeholder="กรอกสิ่งที่จะขาย"
          />
        </ng-container>
      </div>
  
      <button class="confirm-btn" (click)="reserveAll()">ทำการจองทั้งหมด</button>
      <button class="cancle-btn" routerLink="/booth">ยกเลิกการจอง</button>
    </div>
  </div>