<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">

<img src="../../assets/cscmap2.jpeg" alt="zone img" class="img-big">


<div class="container">
    <h1>โซนต่างๆ</h1>
    <main>
      <section class="zone-list">
        <ng-container *ngFor="let zone of zones">
        <div class="zone-card" (click)="InformationBooth(zone.zoneID,zone.workID)" >
          <a (click)="InformationBooth(zone.zoneID,zone.workID)" class="zone-link">
            <img src="../../assets/theater.png" alt="Zone Image" class="zone-image">
            <div class="zone-info">
              <h3>{{ zone.zoneName }}</h3>
              <p>จำนวนบูธในโซน: <span class="zone-detail">{{ zone.Number_of_booths }}</span></p>
              <p>รหัสโซน: <span class="zone-detail">{{ zone.zoneID }}</span></p>
            </div>
          </a>
        </div>
      </ng-container>
      </section>
    </main>
  </div>