<a routerLink="/dashboard">ไปแอดมินนะจ๊ะจุ้บๆ</a>
<img src="../../assets/cscmap2.jpeg" alt="zone img" class="img-big">


<div class="container">
    <h1>โซนต่างๆ</h1>
    <main>
      <section class="zone-list">
        <ng-container *ngFor="let zone of zones">
        <div class="zone-card">
          <a (click)="InformationBooth(zone.zoneID)" class="zone-link">
            <img src="../../assets/theater.png" alt="Zone Image" class="zone-image">
            <div class="zone-info">
              <h3>โซน: {{ zone.zoneName }}</h3>
              <p>บูธในโซน: <span class="zone-detail">{{ zone.Number_of_booths }}</span></p>
              <p>รหัสโซน: <span class="zone-detail">{{ zone.zoneID }}</span></p>
            </div>
          </a>
        </div>
      </ng-container>
      </section>
    </main>
  </div>