
 


<div class="navbar">
    <a routerLink="/dashboard">ภาพรวม</a>
    <a routerLink="/work">การจัดงาน</a>
    <a routerLink="/zonemanage">จัดการโซน</a>
    <a routerLink="/boothmanage">จัดการบูธ</a>
    <a routerLink="/membermanage">จัดการสมาชิก</a>
    <a routerLink="/bookingreport">รายงานผลการจอง</a>
    <a routerLink="/approval">อนุมัติการจอง</a>
    <a routerLink="/">ออกจากระบบ</a>
</div>

<div class="container">
    <div class="card">
        <h3>สรุปข้อมูลการจอง</h3>
        <p>จำนวนบูธทั้งหมด: 100</p>
        <p>บูธที่จองแล้ว: 50</p>
        <p>บูธว่าง: 40</p>
        <p>บูธระหว่างตรวจสอบ: 10</p>
    </div>

    <div class="card">
        <h3>อะไรไม่รู้ใส่ไว้ก่อน5555555</h3>
    </div>
</div>
