
<div class="container">
    <div class="card booking-summary">
        <h3>สรุปข้อมูลการจอง</h3>
        <div class="info-group">
            <p><span class="label">จำนวนบูธทั้งหมด:</span> 100</p>
            <p><span class="label">บูธที่จองแล้ว:</span> 50</p>
            <p><span class="label">บูธว่าง:</span> 40</p>
            <p><span class="label">อยู่ระหว่างตรวจสอบ:</span> 10</p>
        </div>
    </div>

    <!-- <div class="card">
        <h3>อะไรไม่รู้ใส่ไว้ก่อน 5555555</h3>
        <button class="button">คลิกเพื่อดูข้อมูล</button>
    </div> -->
</div>
