

<div class="navbar">
    <a routerLink="/dashboard">ภาพรวม</a>
    <a routerLink="/work">การจัดงาน</a>
    <a routerLink="/zonemanage">จัดการโซน</a>
    <a routerLink="/boothmanage">จัดการบูธ</a>
    <a routerLink="/membermanage">จัดการสมาชิก</a>
    <a routerLink="/bookingreport">รายงานผลการจอง</a>
    <a routerLink="/approval">อนุมัติการจอง</a>
    <a routerLink="/">ออกจากระบบ</a>
</div>

<h2>จัดการสมาชิก</h2>
<table>
    <tr>
        <th>ชื่อ-นามสกุล</th>
        <th>เบอร์โทร</th>
        <th>อีเมล</th>
        <th>แก้ไข/ลบ</th>
    </tr>
    <tr>
        <td>สมชาย ใจดี</td>
        <td>0812345678</td>
        <td>somchai.example.com</td>
        <td>
            <button>แก้ไข</button>
            <button>ลบ</button>
        </td>
    </tr>
    <!-- รายการสมาชิกเพิ่มเติม -->
</table>
