

<div class="content">
    <h2>จัดการสมาชิก</h2>    
    <table>
        <thead>
            <tr>
                <th>ชื่อ-นามสกุล</th>
                <th>เบอร์โทร</th>
                <th>อีเมล</th>
            </tr>
        </thead>
   
        <tbody>
            <ng-container *ngFor="let User of user">
            <tr>
                <td>{{User.prefix}}{{User.fname}} {{User.lname}}</td>
                <td>{{User.phone}}</td>
                <td>{{User.email}}</td>
            </tr>
            <!-- รายการสมาชิกเพิ่มเติม -->
            </ng-container>
        </tbody>
    </table>

</div>

