@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai:wght@100..900&display=swap');
body {
    font-family: 'Prompt', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}
*{
    font-family: "Noto Sans Thai", sans-serif;
}
.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.cards-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
}

.booking-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.booking-table th, .booking-table td {
    padding: 10px;
    border: 1px solid #dddddd73;
}

.booking-table th {
    background-color: #00796b;
    color: #fff;
    text-align: center;
    font-weight: bold;
    width: 10%;
}

.table-image {
    text-align: center;
}

.table-image img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

/* ปุ่ม */
.buttons {
    justify-content: center;
    align-items: center;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.submit-btn, .cancel-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* ให้ปุ่มเต็มความกว้าง */
}

.submit-btn {
    background-color: #00bfa6;
    color: #fff;
    width: 130px;
}

.submit-btn:hover {
    background-color: #00796b;
}

.cancel-btn {
    background-color: #d32f2f;
    color: #fff;
}

.cancel-btn:hover {
    background-color: #b71c1c;
}


.status {
    font-weight: bold;
    color: #d32f2f;
    text-align: center;
}

/* Media Query สำหรับหน้าจอเล็ก */
@media (max-width: 600px) {
    .booking-table {
        font-size: 12px;
    }

    .buttons {
        flex-direction: column;
    }
}

.no-booking-message {
    text-align: center;
    font-size: 18px;
    color: #777;
    margin-top: 20px;
  }
  