<div class="booking-card">
    <div class="booking-image">
        <img src="../../assets/booth.png" alt="Burger">
    </div>
    <div class="booking-details">
        <h3>โซน: A  งานแสดง</h3>
        <p><i class="fa fa-bullhorn"></i> ของที่ขาย: xxx</p>
        <p><i class="fa fa-list-ol"></i> จำนวนบูธ: x</p>
        <p><i class="fa fa-calendar"></i> วันที่จอง: xx xxxxx xxxx</p>
        <p><i class="fa fa-calendar-check"></i> วันที่จ่ายเงิน: xx xxxx xxxx</p>
        <p><i class="fa fa-money-bill-wave"></i> ราคารวม: xxxx ฿</p>
        <p><i class="fa fa-info-circle"></i> สถานะการจอง: อยู่ในระหว่างการตรวจสอบ</p>
        <button class="cancel-btn"><i class="fa fa-times-circle"></i> ยกเลิกการจอง</button>
    </div>
</div>